# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files (where you store your Keycloak credentials)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json

# Local environment files
.envrc
.env

# MacOS files
.DS_Store

# Helm local cache/logs
.helm/